<!--https://www.udemy.com/course/bootstrap-from-scratch/learn/lecture/38476162?start=300#content-->
<!--https://getbootstrap.com/docs/4.0/components/carousel/-->
<!-- https://www.youtube.com/watch?v=ku_97a6Bgkg&t=239s-->
<!-- https://www.youtube.com/watch?v=xReQ_nQbdmA-->
<!--Carousel design was learned from links above. The carousel below was included in the udemy  course-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />

    <!--link to code for function to count cart items-->
    <script src="/app.js"></script>

    <title>checkout</title>
  </head>
  <body>
    <!--dynamically inserts nav-bar from ejs file-->
    <%- include('navbar') %>

    <!-- Add a gap under the navbar -->
    <div style="height: 100px"></div>

    <!-- Main container -->
    <div class="text-center" id="checkout-container">
      <h1>Summary of order</h1>
      

 
      <!--creates a container div-->
      <div class="container">
        <!-- Carousel class tells bootstrap to apply the carousel component sets up basic structure to allow carousel to function -->
        <!-- slide class adds a sliding animation to the carousel -->
        <!-- id of slider is esesential as its used internally by bootstraps javascript to associate actions like sliding to next item with the correct carousel instance.-->

        <div class="carousel slide" id="slider">
          <div class="carousel-inner">
            <!-- the method forEach()  loops through each of the cart results retreived from the cart array stored in espress-session -->
            <!--the loop takes two parameters product which represents the product object in the current iteration
              and index which represents the current project object in the array -->
            <!-- the following html code will be executed for each on of the results that has been passed to this page-->

            <% cart.forEach((product, index) => { %>
              <!--The index === 0 ? 'active' condition applies the active class to the first carousel item only. This ensures that the first item is initially displayed when the carousel loads. -->
          <!-- This ternary operator checks if there is a first element in the array -->
          <!-- if there is, the operator returns active which adds the active class to the current carousel item -->
          <!-- if false the operator returns an empty string so no active class is added and the carousel remains inactive-->
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <!-- d-flex applies the flexbox display property to create a flex container.
                justify-content-center horizontally centers the content within the flex container.
                align-items-center vertically centers the content within the flex container.-->
              <div class="d-flex justify-content-center align-items-center">
                <!--bootstrap card created-->
                <div class="card">
                  <!-- Display the product image within the card dynamically for each product. -->
                  <!-- card-img-top defines the image as a card image that will be displayed on top of the card-->
                  <!-- img fluid added even though there is css to counteract. Left it in for future development-->
                  <img
                    src="/images/shop2Images/<%= product.image1 %>"
                    alt=""
                    class="card-img-top img-fluid"
                  />
                   <!--Card body below image . text-center centers text in card body-->
                  <div class="card-body text-center">
                    <!--card-title class displays a title dynamically from datatbase results-->
                    <h5 class="card-title"><%= product.name %></h5>
                     <!--card-text used for text within card. Display the product description dynamically-->
                    <p class="card-text">€<%= product.price %></p>
                    <p class="card-text"><%= product.description %></p>
                    <p class="card-text">
                      Quantity selected: <%= product.quantity %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
      
          <!-- Buttons -->
          <!-- targets the id of slider specified above at the start of the carousel code block-->
        <button
         
            class="carousel-control-prev"
            data-bs-slide="prev"
            data-bs-target="#slider"
          >
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            data-bs-slide="next"
            data-bs-target="#slider"
          >
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      

    <!-- Checkout Form -->
    <!-- Standard form from bootstrap website-->
    <div class="container mt-8" id="checkout-main-container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="text-container">
            <div class="text-center">
              <h2 class="mb-4">Checkout</h2>
              <h5 class="mb-4">Total:€<%= total %></h5>
            </div>
         <!--form leads to order confirmation page-->
         <!-- all inputs are required so and a specified type so that info has to be entered-->
         <!-- all inputs must be filled-->
         
         <!-- Name is retreived by the route from the request body to be displayed dynamically on the order_confirmation page -->
            <form action="/order_confirmation" method="post">
              <div class="form-group">
                <label for="name">Name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Enter your name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email address:</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter your email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="address">Delivery Address:</label>
                <textarea
                  class="form-control"
                  id="address"
                  rows="3"
                  placeholder="Enter your delivery address"
                  required
                ></textarea>
              </div>
              <form>
                <div class="form-group">
                  <label for="cardNumber">Card Number:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cardNumber"
                    placeholder="Enter your card number"
                    required
                  />
                </div>
              
                <div class="form-row">
                  <div class="col">
                    <label for="expiryDate">Expiration Date:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="expiryDate"
                      placeholder="MM/YY"
                      required
                    />
                  </div>
                  <div class="col">
                    <label for="cvv">CVV:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="cvv"
                      placeholder="CVV"
                      required
                    />
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="cardholderName">Cardholder Name: </label>
                  <input
                    type="text"
                    class="form-control"
                    id="cardholderName"
                    placeholder="Enter cardholder's name"
                    required
                  />
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">
                      Submit and Pay
                    </button>
                  </div>
              
                
              </form>
              
              
            
          </div>
        </div>
      </div>
    </div>
    

    <%- include('footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      const cart =JSON.parse(localStorage.getItem("cart") || []);
      const checkoutContainer = document.getElementById("checkout-container");

      if(cart.length === 0 ){
         checkoutContainer.innerHTML = `
          <div class="text-center container"> 
               <h2>The cart is empty  </h2>
            </div>

         `
      }
    </script>
  </body>
</html>
